html {
  height: 100%;
}
body {
  overflow: hidden !important;
}
#title_chart {
  position: absolute;
  margin-left: 10px;
  margin-top: -10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
table > tr:hover {
  cursor: pointer;
  background: #dedede;
}
